body {
    background-color: rgb(245, 245, 245);
}

.container {
    max-width: 1200px;
    padding: 0;
}

.auth-form {
    max-width: 400px;
    margin: 80px auto;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 80px 50%;
}

.bcrumb {
    padding: 10px;
    margin-top: 30px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px;
}

.bcrumb ol {
    margin-bottom: 0px;
}
